
.container{
    text-align: center;
}

.btn{
    margin: 10px;
}

.tarefa{
    margin-top: 100px;
    width: max-content;
    ;
    border: solid 1px #000;
    padding: 20px;
    background-color: #5fb2ad;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #000;   
}

.li{
    list-style: none;
}


